---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/user?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":[\n
        \   {\n      \"user_id\":348,\n      \"external_key\":null,\n      \"first_name\":\"Todd\",\n
        \     \"middle_name_glob\":null,\n      \"last_name\":\"Customer\",\n      \"name_suffix\":null,\n
        \     \"title\":\"\",\n      \"email\":\"newemail@example.com\",\n      \"token\":\"z5anc8bqi7hg\",\n
        \     \"phone\":\"8025551212\",\n      \"write_datetime\":\"2015-03-16 11:30:13\",\n
        \     \"mod_datetime\":\"2015-03-19 09:08:34\",\n      \"name\":\"Todd Customer\",\n
        \     \"display_as\":\"Todd Customer\",\n      \"username\":\"test@example.com\"\n
        \   },\n    {\n      \"user_id\":349,\n      \"external_key\":null,\n      \"first_name\":\"John\",\n
        \     \"middle_name_glob\":null,\n      \"last_name\":\"Smith\",\n      \"name_suffix\":null,\n
        \     \"title\":\"\",\n      \"email\":\"customer@example.com\",\n      \"token\":\"85gtskxf6y7n\",\n
        \     \"phone\":\"\",\n      \"write_datetime\":\"2015-03-16 11:30:13\",\n
        \     \"mod_datetime\":\"2015-03-19 08:49:55\",\n      \"name\[...]
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/user?limit=100&offset=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":[\n
        \   \n  ]\n}"
  recorded_at: Mon, 06 Apr 2015 18:47:22 GMT
recorded_with: VCR 2.9.3
