---
http_interactions:
- request:
    method: post
    uri: https://imagerelay-staging.chargeover.com/api/v3/transaction?action=pay
    body:
      encoding: UTF-8
      string: ! '{"customer_id":34,"applied_to":["10063"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n    \"code\": 400,\n    \"status\": \"Error\",\n    \"message\":
        \"This transaction could not be processed: Your card has expired.\",\n    \"response\":
        false\n}"
  recorded_at: Wed, 13 May 2015 14:49:37 GMT
recorded_with: VCR 2.9.3
