---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/invoice/10041
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"invoice_id\":10041,\n    \"currency_id\":1,\n    \"terms_id\":2,\n    \"token\":\"1s62u0kxl7f4\",\n
        \   \"refnumber\":\"10041\",\n    \"bill_addr1\":null,\n    \"bill_addr2\":null,\n
        \   \"bill_addr3\":null,\n    \"bill_city\":null,\n    \"bill_state\":null,\n
        \   \"bill_postcode\":null,\n    \"bill_country\":null,\n    \"bill_notes\":null,\n
        \   \"ship_addr1\":null,\n    \"ship_addr2\":null,\n    \"ship_addr3\":null,\n
        \   \"ship_city\":null,\n    \"ship_state\":null,\n    \"ship_postcode\":null,\n
        \   \"ship_country\":null,\n    \"ship_notes\":null,\n    \"custom_1\":null,\n
        \   \"custom_2\":null,\n    \"custom_3\":null,\n    \"write_datetime\":\"2015-03-30
        12:33:24\",\n    \"void_datetime\":null,\n    \"currency_symbol\":\"$\",\n
        \   \"currency_iso4217\":\"USD\",\n    \"invoice_status_name\":\"Unpaid\",\n
        \   \"invoice_status_str\":\"open-unpaid\",\n    \"invoice_status_state\":\"o\",\n
        \   \"total\":4500,\n    \"credits\":0,\n    \"payments\":0,\n    \"sum_base\":4500,\n
        \   \"sum_usage\":0,\n    \"sum_onetime\":0,\n    \"is_paid\":false,\n    \"balance\":4500,\n
        \   \"is_void\":false,\n    \"due_date\":\"2015-04-29\",\n    \"terms_name\":\"Net
        30\",\n    \"terms_days\":30,\n    \"days_overdue\":0,\n    \"is_overdue\":false,\n
        \   \"date\":\"2015-03-30\",\n    \"delay_datetime\":null,\n    \"bill_block\":\"\",\n
        \   \"ship_block\":\"\",\n    \"url_permalink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/view\\/1s62u0kxl7f4\",\n
        \   \"url_paylink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/trans\\/pay\\/1s62u0kxl7f4\",\n
        \   \"url_pdflink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/pdf\\/1s62u0kxl7f4\",\n
        \   \"package_id\":600,\n    \"customer_id\":33,\n    \"line_items\":[\n      {\n
        \       \"invoice_id\":10041,\n        \"item_id\":5,\n        \"tierset_id\":49,\n
        \       \"descrip\":\"for 03\\/30\\/2015 to 06\\/30\\/2015\",\n        \"line_rate\":1500,\n
        \       \"line_quantity\":1,\n        \"line_usage\":0,\n        \"is_base\":true,\n
        \       \"is_free\":false,\n        \"is_setup\":false,\n        \"is_usage\":false,\n
        \       \"is_recurring\":true,\n        \"is_taxed\":\"0\",\n        \"custom_1\":null,\n
        \       \"custom_2\":null,\n        \"custom_3\":null,\n        \"item_name\":\"Image
        Relay Enterprise Plan\",\n        \"item_external_key\":\"super\",\n        \"item_token\":\"lh2r80vy4u9k\",\n
        \       \"item_accounting_sku\":null,\n        \"line_item_id\":2640,\n        \"package_line_id\":635\n
        \     },\n      {\n        \"invoice_id\":10041,\n        \"item_id\":5,\n
        \       \"tierset_id\":49,\n        \"descrip\":\"for 03\\/30\\/2015 to 06\\/30\\/2015\",\n
        \       \"line_rate\":1500,\n        \"line_quantity\":1,\n        \"line_usage\":0,\n
        \       \"is_base\":true,\n        \"is_free\":false,\n        \"is_setup\":false,\n
        \       \"is_usage\":false,\n        \"is_recurring\":true,\n        \"is_taxed\":\"0\",\n
        \       \"custom[...]
- request:
    method: post
    uri: https://imagerelay-staging.chargeover.com/api/v3/transaction
    body:
      encoding: UTF-8
      string: ! '{"customer_id":33,"transaction_type":"pay","gateway_method":"check","amount":"4500.00","gateway_status":1,"gateway_transid":"Manual
        Entry","transaction_detail":"Payment for Services","applied_to":[{"invoice_id":10041}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://imagerelay-staging.chargeover.com/api/v3/transaction/108
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":201,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"id\":108\n  }\n}"
  recorded_at: Mon, 30 Mar 2015 17:41:19 GMT
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/transaction/108
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"transaction_id\":108,\n    \"gateway_id\":205,\n    \"currency_id\":1,\n
        \   \"token\":\"rc0g9mj8w1ny\",\n    \"transaction_date\":\"2015-03-30\",\n
        \   \"gateway_status\":1,\n    \"gateway_transid\":\"Manual Entry\",\n    \"gateway_msg\":\"\",\n
        \   \"amount\":4500,\n    \"fee\":0,\n    \"transaction_type\":\"pay\",\n
        \   \"transaction_method\":\"Paid by Check\",\n    \"transaction_detail\":\"Payment
        for Services\",\n    \"transaction_datetime\":\"2015-03-30 12:41:08\",\n    \"void_datetime\":null,\n
        \   \"transaction_type_name\":\"Payment\",\n    \"currency_symbol\":\"$\",\n
        \   \"currency_iso4217\":\"USD\",\n    \"customer_id\":33,\n    \"applied_to\":[\n
        \     {\n        \"invoice_id\":\"10041\",\n        \"applied\":4500\n      }\n
        \   ]\n  }\n}"
  recorded_at: Mon, 30 Mar 2015 17:41:20 GMT
[...]
