---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/customer/44
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"superuser_id\":394,\n    \"external_key\":\"115\",\n    \"token\":\"7e6wgvzoflyt\",\n
        \   \"company\":\"IR Free Signup\",\n    \"bill_addr1\":\"144 Ross Hill\",\n
        \   \"bill_addr2\":null,\n    \"bill_addr3\":null,\n    \"bill_city\":\"Huntington\",\n
        \   \"bill_state\":\"Vermont\",\n    \"bill_postcode\":\"05462\",\n    \"bill_country\":\"United
        States\",\n    \"bill_notes\":null,\n    \"ship_addr1\":null,\n    \"ship_addr2\":null,\n
        \   \"ship_addr3\":null,\n    \"ship_city\":null,\n    \"ship_state\":null,\n
        \   \"ship_postcode\":null,\n    \"ship_country\":null,\n    \"ship_notes\":null,\n
        \   \"terms_id\":2,\n    \"class_id\":null,\n    \"custom_1\":null,\n    \"custom_2\":\"http:\\/\\/freedev.lvh.me:3000\",\n
        \   \"custom_3\":null,\n    \"admin_id\":null,\n    \"campaign_id\":null,\n
        \   \"custtype_id\":null,\n    \"currency_id\":1,\n    \"no_taxes\":false,\n
        \   \"no_dunning\":false,\n    \"write_datetime\":\"2015-04-06 10:40:41\",\n
        \   \"write_ipaddr\":\"70.88.244.230\",\n    \"mod_datetime\":\"2015-04-06
        10:40:41\",\n    \"mod_ipaddr\":\"70.88.244.230\",\n    \"terms_name\":\"Net
        30\",\n    \"terms_days\":30,\n    \"paid\":0,\n    \"total\":1908,\n    \"balance\":1908,\n
        \   \"url_paymethodlink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/paymethod\\/i\\/7e6wgvzoflyt\",\n
        \   \"currency_symbol\":\"$\",\n    \"currency_iso4217\":\"USD\",\n    \"display_as\":\"IR
        Free Signup\",\n    \"ship_block\":\"\",\n    \"bill_block\":\"144 Ross Hill\\nHuntington
        Vermont 05462\\nUnited States\",\n    \"superuser_name\":\"Buffy Miller\",\n
        \   \"superuser_first_name\":\"Buffy\",\n    \"superuser_last_name\":\"Miller\",\n
        \   \"superuser_phone\":\"\",\n    \"superuser_email\":\"buffy@imagerelay.com\",\n
        \   \"customer_id\":44,\n    \"tags\":[\n      \n    ]\n  }\n}"
  recorded_at: Wed, 08 Apr 2015 18:03:32 GMT
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/user?where=customers.customer_id:EQUALS:44limit=100?offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":[\n
        \   {\n      \"user_id\":394,\n      \"external_key\":null,\n      \"first_name\":\"Buffy\",\n
        \     \"middle_name_glob\":null,\n      \"last_name\":\"Miller\",\n      \"name_suffix\":null,\n
        \     \"title\":\"\",\n      \"email\":\"buffy@imagerelay.com\",\n      \"token\":\"c1w098giopus\",\n
        \     \"phone\":\"\",\n      \"write_datetime\":\"2015-03-16 11:30:13\",\n
        \     \"mod_datetime\":\"2015-04-06 10:40:41\",\n      \"name\":\"Buffy Miller\",\n
        \     \"display_as\":\"Buffy Miller\",\n      \"username\":\"2bitxjhfsqrd\"\n
        \   },\n    {\n      \"user_id\":395,\n      \"external_key\":null,\n      \"first_name\":\"Accounts\",\n
        \     \"middle_name_glob\":null,\n      \"last_name\":\"Payable\",\n      \"name_suffix\":null,\n
        \     \"title\":\"\",\n      \"email\":\"accountspayable@example.com\",\n
        \     \"token\":\"7h4it9dxr0km\",\n      \"phone\":\"\",\n      \"write_datetime\":\"2015-03-16
        11:30:13\",\n      \"mod_datetime\":\"2015-04-06 12:37:05\",\n      \"name\":\"Accounts
        Payable\",\n      \"display_as\":\"Accounts Payable\",\n      \"username\":\"accountspayable@example.com\"\n
        \   }\n  ]\n}"
  recorded_at: Wed, 08 Apr 2015 18:03:33 GMT
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/user/394
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"user_id\":394,\n    \"external_key\":null,\n    \"first_name\":\"Buffy\",\n
        \   \"middle_name_glob\":null,\n    \"last_name\":\"Miller\",\n    \"name_suffix\":null,\n
        \   \"title\":\"\",\n    \"email\":\"buffy@imagerelay.com\",\n    \"token\":\"c1w098giopus\",\n
        \   \"phone\":\"\",\n    \"write_datetime\":\"2015-04-06 10:40:41\",\n    \"mod_datetime\":\"2015-04-06
        10:40:41\",\n    \"name\":\"Buffy Miller\",\n    \"display_as\":\"Buffy Miller\",\n
        \   \"username\":\"2bitxjhfsqrd\",\n    \"customers\":[\n      {\n        \"customer_id\":\"44\",\n
        \       \"company\":\"IR Free Signup\"\n      }\n    ]\n  }\n}"
  recorded_at: Wed, 08 Apr 2015 18:03:33 GMT
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/user/395
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"user_id\":395,\n    \"external_key\":null,\n    \"first_name\":\"Accounts\",\n
        \   \"middle_name_glob\":null,\n    \"last_name\":\"Payable\",\n    \"name_suffix\":null,\n
        \   \"title\":\"\",\n    \"email\":\"accountspayable@example.com\",\n    \"token\":\"7h4it9dxr0km\",\n
        \   \"phone\":\"\",\n    \"write_datetime\":\"2015-04-06 12:37:05\",\n    \"mod_datetime\":\"2015-04-06
        12:37:05\",\n    \"name\":\"Accounts Payable\",\n    \"display_as\":\"Accounts
        Payable\",\n    \"username\":\"accountspayable@example.com\",\n    \"customers\":[\n
        \     {\n        \"customer_id\":\"44\",\n        \"company\":\"IR Free Signup\"\n
        \     }\n    ]\n  }\n}"
  recorded_at: Wed, 08 Apr 2015 18:03:34 GMT
recorded_with: VCR 2.9.3
