---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/customer?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":[\n
        \   {\n      \"superuser_id\":367,\n      \"external_key\":\"546546\",\n      \"token\":\"v0puyxiwbezl\",\n
        \     \"company\":\"Test Customer\",\n      \"bill_addr1\":\"144 Ross Hill\",\n
        \     \"bill_addr2\":\"\",\n      \"bill_addr3\":\"\",\n      \"bill_city\":\"Huntington\",\n
        \     \"bill_state\":\"Vermont\",\n      \"bill_postcode\":\"05462\",\n      \"bill_country\":\"\",\n
        \     \"bill_notes\":null,\n      \"ship_addr1\":null,\n      \"ship_addr2\":null,\n
        \     \"ship_addr3\":null,\n      \"ship_city\":null,\n      \"ship_state\":null,\n
        \     \"ship_postcode\":null,\n      \"ship_country\":null,\n      \"ship_notes\":null,\n
        \     \"terms_id\":2,\n      \"class_id\":null,\n      \"custom_1\":null,\n
        \     \"custom_2\":\"http:\\/\\/dev.lvh.me:3000\",\n      \"custom_3\":null,\n
        \     \"admin_id\":null,\n      \"campaign_id\":null,\n      \"custtype_id\":null,\n
        \     \"currency_id\":1,\n      \"no_taxes\":false,\n      \"no_dunning\":false,\n
        \     \"write_datetime\":\"2015-03-25 08:25:10\",\n      \"write_ipaddr\":\"70.88.244.230\",\n
        \     \"mod_datetime\":\"2015-03-25 08:33:40\",\n      \"mod_ipaddr\":\"70.88.244.230\",\n
        \     \"terms_name\":\"Net 30\",\n      \"terms_days\":30,\n      \"paid\":99,\n
        \     \"total\":99,\n      \"balance\":0,\n      \"url_paymethodlink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/paymethod\\/i\\/v0puyxiwbezl\",\n
        \     \"currency_symbol\":\"$\",\n      \"currency_iso4217\":\"USD\",\n      \"display_as\":\"Test
        Customer\",\n      \"ship_block\":\"\",\n      \"bill_block\":\"144 Ross Hill\\nHuntington
        Vermont 05462\",\n      \"superuser_name\":\"Buffy Miller\",\n      \"superuser_first_name\":\"Buffy\",\n
        \     \"superuser_last_name\":\"Miller\",\n      \"superuser_phone\":\"\",\n
        \     \"superuser_email\":\"buffy@imagerelay.com\",\n      \"customer_id\":18\n
        \   },\n    {\n      \"superuser_id\":368,\n      \"external_key\":\"46546546\",\n
        \     \"token\":\"qbtdvwk73s1l\",\n      \"company\":\"Test Customer Two\",\n
        \     \"bill_addr1\":\"144 Ross Hill\",\n      \"bill_addr2\":\"\",\n      \"bill_addr3\":\"\",\n
        \     \"bill_city\":\"Huntington\",\n      \"bill_state\":\"Vermont\",\n      \"bill_postcode\":\"05462\",\n
        \     \"bill_country\":\"\",\n      \"bill_notes\":null,\n      \"ship_addr1\":null,\n
[...]
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/customer?limit=100&offset=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":[\n
        \   \n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 14:18:31 GMT
recorded_with: VCR 2.9.3
