---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/invoice/10088
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n    \"code\": 200,\n    \"status\": \"OK\",\n    \"message\":
        \"\",\n    \"response\": {\n        \"invoice_id\": 10088,\n        \"currency_id\":
        1,\n        \"terms_id\": 2,\n        \"token\": \"x6pdkmc9e8zl\",\n        \"refnumber\":
        \"10088\",\n        \"cycle_this_date\": null,\n        \"bill_addr1\": null,\n
        \       \"bill_addr2\": null,\n        \"bill_addr3\": null,\n        \"bill_city\":
        null,\n        \"bill_state\": null,\n        \"bill_postcode\": null,\n        \"bill_country\":
        null,\n        \"bill_notes\": null,\n        \"ship_addr1\": null,\n        \"ship_addr2\":
        null,\n        \"ship_addr3\": null,\n        \"ship_city\": null,\n        \"ship_state\":
        null,\n        \"ship_postcode\": null,\n        \"ship_country\": null,\n
        \       \"ship_notes\": null,\n        \"custom_1\": null,\n        \"custom_2\":
        null,\n        \"custom_3\": null,\n        \"write_datetime\": \"2015-04-16
        07:24:29\",\n        \"void_datetime\": null,\n        \"currency_symbol\":
        \"$\",\n        \"currency_iso4217\": \"USD\",\n        \"invoice_status_name\":
        \"Unpaid\",\n        \"invoice_status_str\": \"open-unpaid\",\n        \"invoice_status_state\":
        \"o\",\n        \"subtotal\": 1188,\n        \"total\": 1259.28,\n        \"taxes\":
        71.28,\n        \"credits\": 0,\n        \"payments\": 0,\n        \"applied\":
        0,\n        \"sum_base\": 1188,\n        \"sum_usage\": 0,\n        \"sum_onetime\":
        0,\n        \"is_paid\": false,\n        \"balance\": 1259.28,\n        \"is_void\":
        false,\n        \"due_date\": \"2015-05-16\",\n        \"terms_name\": \"Net
        30\",\n        \"terms_days\": 30,\n        \"days_overdue\": 0,\n        \"is_overdue\":
        false,\n        \"date\": \"2015-04-16\",\n        \"delay_datetime\": null,\n
        \       \"bill_block\": \"\",\n        \"ship_block\": \"\",\n        \"url_permalink\":
        \"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/view\\/x6pdkmc9e8zl\",\n
        \       \"url_paylink\": \"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/trans\\/pay\\/x6pdkmc9e8zl\",\n
        \       \"url_pdflink\": \"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/pdf\\/x6pdkmc9e8zl\",\n
        \       \"package_id\": 643,\n        \"customer_id\": 53,\n        \"line_items\":
        [\n            {\n                \"invoice_id\": 10088,\n                \"item_id\":
        4,\n                \"tierset_id\": 117,\n                \"descrip\": \"Digital
        Asset Management Services\\n\\n          April 16 to April 15, 2016 12 @$99.00\",\n
        \               \"line_rate\": 1188,\n                \"line_quantity\": 1,\n
        \               \"line_usage\": 0,\n                \"tax_taxable\": 1188,\n
        \               \"tax_taxed\": 0,\n                \"tax_total\": 71.28,\n
        \               \"is_base\": true,\n                \"is_free\": false,\n
        \               \"is_setup\": false,\n                \"is_usage\": false,\n
        \               \"is_recurring\": true,\n                \"is_taxed\": \"1\",\n
        \               \"custom_1\": null,\n                \"custom_2\": null,\n
        \               \"custom_3\": null,\n                \"item_name\": \"Image
        Relay Small Plan\",\n                \"item_external_key\": \"basic\",\n                \"item_token\":
        \"i4k0u3wpt2zo\",\n                \"item_accounting_sku\": null,\n                \"line_item_id\":
        2760,\n                \"package_line_id\": 710\n            }\n        ]\n
        \   }\n}"
  recorded_at: Wed, 13 May 2015 14:56:16 GMT
- request:
    method: post
    uri: https://imagerelay-staging.chargeover.com/api/v3/transaction?action=pay
    body:
      encoding: UTF-8
      string: ! '{"customer_id":53,"applied_to":[10088]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n    \"code\": 200,\n    \"status\": \"OK\",\n    \"message\":
        \"\",\n    \"response\": {\n        \"id\": 172\n    }\n}"
  recorded_at: Wed, 13 May 2015 14:56:18 GMT
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/transaction/172
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n    \"code\": 200,\n    \"status\": \"OK\",\n    \"message\":
        \"\",\n    \"response\": {\n        \"transaction_id\": 172,\n        \"gateway_id\":
        202,\n        \"currency_id\": 1,\n        \"external_key\": null,\n        \"token\":
        \"p1esu3g97nkv\",\n        \"transaction_date\": \"2015-05-13\",\n        \"gateway_status\":
        1,\n        \"gateway_transid\": \"ch_6EUFwi8NbrCihN\",\n        \"gateway_msg\":
        \"\",\n        \"amount\": 1259.28,\n        \"fee\": -36.82,\n        \"transaction_type\":
        \"pay\",\n        \"transaction_method\": \"Visa\",\n        \"transaction_detail\":
        \"x4242\",\n        \"transaction_datetime\": \"2015-05-13 09:56:17\",\n        \"transaction_ipaddr\":
        \"70.88.244.230\",\n        \"void_datetime\": null,\n        \"transaction_type_name\":
        \"Payment\",\n        \"currency_symbol\": \"$\",\n        \"currency_iso4217\":
        \"USD\",\n        \"customer_id\": 53,\n        \"applied_to\": [\n            {\n
        \               \"invoice_id\": 10088,\n                \"applied\": 1259.28\n
        \           }\n        ]\n    }\n}"
  recorded_at: Wed, 13 May 2015 14:56:18 GMT
[...]
