---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/invoice/10104
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n    \"code\": 200,\n    \"status\": \"OK\",\n    \"message\":
        \"\",\n    \"response\": {\n        \"invoice_id\": 10104,\n        \"currency_id\":
        1,\n        \"terms_id\": 3,\n        \"token\": \"vbr5fsg3unky\",\n        \"refnumber\":
        \"10104\",\n        \"cycle_this_date\": \"2015-05-01\",\n        \"bill_addr1\":
        null,\n        \"bill_addr2\": null,\n        \"bill_addr3\": null,\n        \"bill_city\":
        null,\n        \"bill_state\": null,\n        \"bill_postcode\": null,\n        \"bill_country\":
        null,\n        \"bill_notes\": null,\n        \"ship_addr1\": null,\n        \"ship_addr2\":
        null,\n        \"ship_addr3\": null,\n        \"ship_city\": null,\n        \"ship_state\":
        null,\n        \"ship_postcode\": null,\n        \"ship_country\": null,\n
        \       \"ship_notes\": null,\n        \"custom_1\": null,\n        \"custom_2\":
        null,\n        \"custom_3\": null,\n        \"write_datetime\": \"2015-05-02
        07:23:26\",\n        \"void_datetime\": null,\n        \"currency_symbol\":
        \"$\",\n        \"currency_iso4217\": \"USD\",\n        \"invoice_status_name\":
        \"Paid\",\n        \"invoice_status_str\": \"closed-paid\",\n        \"invoice_status_state\":
        \"c\",\n        \"subtotal\": 99,\n        \"total\": 104.94,\n        \"taxes\":
        5.94,\n        \"credits\": 0,\n        \"payments\": 209.88,\n        \"applied\":
        314.82,\n        \"sum_base\": 99,\n        \"sum_usage\": 0,\n        \"sum_onetime\":
        0,\n        \"is_paid\": true,\n        \"balance\": 0,\n        \"is_void\":
        false,\n        \"due_date\": \"2015-05-02\",\n        \"terms_name\": \"Due
        on Receipt\",\n        \"terms_days\": 0,\n        \"days_overdue\": 11,\n
        \       \"is_overdue\": true,\n        \"date\": \"2015-05-02\",\n        \"delay_datetime\":
        null,\n        \"bill_block\": \"\",\n        \"ship_block\": \"\",\n        \"url_permalink\":
        \"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/view\\/vbr5fsg3unky\",\n
        \       \"url_paylink\": \"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/trans\\/pay\\/vbr5fsg3unky\",\n
        \       \"url_pdflink\": \"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/pdf\\/vbr5fsg3unky\",\n
        \       \"package_id\": 629,\n        \"customer_id\": 37,\n        \"line_items\":
        [\n            {\n                \"invoice_id\": 10104,\n                \"item_id\":
        4,\n                \"tierset_id\": 82,\n                \"descrip\": \"Digital
        Asset Management Services\\nMay 2 to August 1, 2015, 3 @$99.00\",\n                \"line_rate\":
        99,\n                \"line_quantity\": 1,\n                \"line_usage\":
        0,\n                \"tax_taxable\": 99,\n                \"tax_taxed\": 0,\n
        \               \"tax_total\": 5.94,\n                \"is_base\": true,\n
        \               \"is_free\": false,\n                \"is_setup\": false,\n
        \               \"is_usage\": false,\n                \"is_recurring\": true,\n
        \               \"is_taxed\": \"1\",\n                \"custom_1\": null,\n
        \               \"custom_2\": null,\n                \"custom_3\": null,\n
        \               \"item_name\": \"Image Relay Small Plan\",\n                \"item_external_key\":
        \"basic\",\n                \"item_token\": \"i4k0u3wpt2zo\",\n                \"item_accounting_sku\":
        null,\n                \"line_item_id\": 2779,\n                \"package_line_id\":
        665\n            }\n        ]\n    }\n}"
  recorded_at: Wed, 13 May 2015 14:13:42 GMT
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/package/629
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n    \"code\": 200,\n    \"status\": \"OK\",\n    \"message\":
        \"\",\n    \"response\": {\n        \"terms_id\": 3,\n        \"currency_id\":
        1,\n        \"external_key\": null,\n        \"token\": \"k6pf0jgi87az\",\n
        \       \"nickname\": \"\",\n        \"paymethod\": \"crd\",\n        \"paycycle\":
        \"mon\",\n        \"bill_addr1\": null,\n        \"bill_addr2\": null,\n        \"bill_addr3\":
        null,\n        \"bill_city\": null,\n        \"bill_state\": null,\n        \"bill_postcode\":
        null,\n        \"bill_country\": null,\n        \"bill_notes\": null,\n        \"ship_addr1\":
        null,\n        \"ship_addr2\": null,\n        \"ship_addr3\": null,\n        \"ship_city\":
        null,\n        \"ship_state\": null,\n        \"ship_postcode\": null,\n        \"ship_country\":
        null,\n        \"ship_notes\": null,\n        \"creditcard_id\": 62,\n        \"ach_id\":
        null,\n        \"tokenized_id\": null,\n        \"custom_1\": null,\n        \"custom_2\":
        null,\n        \"custom_3\": null,\n        \"write_datetime\": \"2015-04-02
        14:53:22\",\n        \"mod_datetime\": \"2015-04-02 14:53:22\",\n        \"suspendfrom_datetime\":
        null,\n        \"suspendto_datetime\": null,\n        \"cancel_datetime\":
        null,\n        \"holduntil_datetime\": null,\n        \"currency_symbol\":
        \"$\",\n        \"currency_iso4217\": \"USD\",\n        \"amount_collected\":
        203.94,\n        \"amount_invoiced\": 203.94,\n        \"amount_due\": 0,\n
        \       \"next_invoice_datetime\": \"2015-06-02 00:00:01\",\n        \"package_id\":
        629,\n        \"customer_id\": 37,\n        \"package_status_id\": 2,\n        \"package_status_name\":
        \"Current\",\n        \"package_status_str\": \"active-current\",\n        \"package_status_state\":
        \"a\",\n        \"line_items\": [\n            {\n                \"item_id\":
        4,\n                \"tierset_id\": 82,\n                \"external_key\":
        null,\n                \"nickname\": \"\",\n                \"descrip\": \"Digital
        Asset Management Services\\r\\n{{ \\\"now\\\"|date(\\\"F j\\\") }} to {{ \\\"now\\\"|date_modify(\\\"+3
        month\\\")|date_modify(\\\"-1 day\\\")|date(\\\"F j, Y\\\") }}, 3 @$99.00\",\n
        \               \"trial_days\": 0,\n                \"trial_units\": 0,\n
        \               \"custom_1\": null,\n                \"custom_2\": null,\n
        \               \"custom_3\": null,\n                \"subscribe_datetime\":
        \"2015-04-02 14:53:22\",\n                \"subscribe_prorate_from_datetime\":
        null,\n                \"subscribe_prorate_to_datetime\": null,\n                \"cancel_datetime\":
        null,\n                \"expire_datetime\": null,\n                \"expire_recurs\":
        null,\n                \"license\": \"\",\n                \"item_name\":
        \"Image Relay Small Plan\",\n                \"item_external_key\": \"basic\",\n
        \               \"item_accounting_sku\": null,\n                \"item_token\":
        \"i4k0u3wpt2zo\",\n                \"item_units\": null,\n                \"line_item_id\":
        665,\n                \"tierset\": {\n                    \"tierset_id\":
        82,\n                    \"setup\": 0,\n                    \"base\": 99,\n
        \                   \"percent\": \"0.000000\",\n                    \"paycycle\":
        \"mon\",\n                    \"pricemodel\": \"fla\",\n                    \"write_datetime\":
        \"2015-04-01 08:51:15\",\n                    \"mod_datetime\": \"2015-04-01
        08:51:15\",\n                    \"setup_formatted\": \"$ 0.00\",\n                    \"base_formatted\":
        \"$ 99.00\",\n                    \"percent_formatted\": \"0 %\",\n                    \"pricemodel_desc\":
        \"Flat Pricing (e.g. $X dollars per month)\",\n                    \"tiers\":
        []\n                }\n            }\n        ]\n    }\n}"
  recorded_at: Wed, 13 May 2015 14:13:43 GMT
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/customer/37
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n    \"code\": 200,\n    \"status\": \"OK\",\n    \"message\":
        \"\",\n    \"response\": {\n        \"superuser_id\": 387,\n        \"external_key\":
        \"safdsf\",\n        \"token\": \"a30n8o5erxug\",\n        \"company\": \"adfasdfdsf\",\n
        \       \"bill_addr1\": \"144 Ross Hill\",\n        \"bill_addr2\": \"\",\n
        \       \"bill_addr3\": \"\",\n        \"bill_city\": \"Huntington\",\n        \"bill_state\":
        \"Vermont\",\n        \"bill_postcode\": \"05462\",\n        \"bill_country\":
        \"\",\n        \"bill_notes\": null,\n        \"ship_addr1\": null,\n        \"ship_addr2\":
        null,\n        \"ship_addr3\": null,\n        \"ship_city\": null,\n        \"ship_state\":
        null,\n        \"ship_postcode\": null,\n        \"ship_country\": null,\n
        \       \"ship_notes\": null,\n        \"terms_id\": 2,\n        \"class_id\":
        null,\n        \"custom_1\": null,\n        \"custom_2\": \"http:\\/\\/dev.lvh.me:3000\",\n
        \       \"custom_3\": null,\n        \"admin_id\": null,\n        \"campaign_id\":
        null,\n        \"custtype_id\": null,\n        \"currency_id\": 1,\n        \"no_taxes\":
        false,\n        \"no_dunning\": false,\n        \"write_datetime\": \"2015-04-02
        14:53:22\",\n        \"write_ipaddr\": \"70.88.244.230\",\n        \"mod_datetime\":
        \"2015-04-02 14:57:49\",\n        \"mod_ipaddr\": \"70.88.244.230\",\n        \"terms_name\":
        \"Net 30\",\n        \"terms_days\": 30,\n        \"paid\": 203.94,\n        \"total\":
        203.94,\n        \"balance\": 0,\n        \"url_paymethodlink\": \"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/paymethod\\/i\\/a30n8o5erxug\",\n
        \       \"currency_symbol\": \"$\",\n        \"currency_iso4217\": \"USD\",\n
        \       \"display_as\": \"adfasdfdsf\",\n        \"ship_block\": \"\",\n        \"bill_block\":
        \"144 Ross Hill\\nHuntington Vermont 05462\",\n        \"superuser_name\":
        \"Buffy Miller\",\n        \"superuser_first_name\": \"Buffy\",\n        \"superuser_last_name\":
        \"Miller\",\n        \"superuser_phone\": \"\",\n        \"superuser_email\":
        \"buffy@imagerelay.com\",\n        \"customer_id\": 37,\n        \"superuser_username\":
        \"fwmt2jgpvs94\",\n        \"tags\": []\n    }\n}"
  recorded_at: Wed, 13 May 2015 14:13:43 GMT
recorded_with: VCR 2.9.3
