---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/invoice/10115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n    \"code\": 200,\n    \"status\": \"OK\",\n    \"message\":
        \"\",\n    \"response\": {\n        \"invoice_id\": 10115,\n        \"currency_id\":
        1,\n        \"terms_id\": 2,\n        \"token\": \"yjwsr0eciqg1\",\n        \"refnumber\":
        \"10115\",\n        \"cycle_this_date\": \"2015-05-06\",\n        \"bill_addr1\":
        null,\n        \"bill_addr2\": null,\n        \"bill_addr3\": null,\n        \"bill_city\":
        null,\n        \"bill_state\": null,\n        \"bill_postcode\": null,\n        \"bill_country\":
        null,\n        \"bill_notes\": null,\n        \"ship_addr1\": null,\n        \"ship_addr2\":
        null,\n        \"ship_addr3\": null,\n        \"ship_city\": null,\n        \"ship_state\":
        null,\n        \"ship_postcode\": null,\n        \"ship_country\": null,\n
        \       \"ship_notes\": null,\n        \"custom_1\": null,\n        \"custom_2\":
        null,\n        \"custom_3\": null,\n        \"write_datetime\": \"2015-05-12
        11:40:01\",\n        \"void_datetime\": null,\n        \"currency_symbol\":
        \"$\",\n        \"currency_iso4217\": \"USD\",\n        \"invoice_status_name\":
        \"Unpaid\",\n        \"invoice_status_str\": \"open-unpaid\",\n        \"invoice_status_state\":
        \"o\",\n        \"subtotal\": 297,\n        \"total\": 314.82,\n        \"taxes\":
        17.82,\n        \"credits\": 0,\n        \"payments\": 0,\n        \"applied\":
        0,\n        \"sum_base\": 297,\n        \"sum_usage\": 0,\n        \"sum_onetime\":
        0,\n        \"is_paid\": false,\n        \"balance\": 314.82,\n        \"is_void\":
        false,\n        \"due_date\": \"2015-06-05\",\n        \"terms_name\": \"Net
        30\",\n        \"terms_days\": 30,\n        \"days_overdue\": 0,\n        \"is_overdue\":
        false,\n        \"date\": \"2015-05-06\",\n        \"delay_datetime\": null,\n
        \       \"bill_block\": \"\",\n        \"ship_block\": \"\",\n        \"url_permalink\":
        \"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/view\\/yjwsr0eciqg1\",\n
        \       \"url_paylink\": \"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/trans\\/pay\\/yjwsr0eciqg1\",\n
        \       \"url_pdflink\": \"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/pdf\\/yjwsr0eciqg1\",\n
        \       \"package_id\": 628,\n        \"customer_id\": 35,\n        \"line_items\":
        [\n            {\n                \"invoice_id\": 10115,\n                \"item_id\":
        4,\n                \"tierset_id\": 83,\n                \"descrip\": \"Digital
        Asset Management Services\\nMay 12 to August 11, 2015, 3 @$99.00\",\n                \"line_rate\":
        297,\n                \"line_quantity\": 1,\n                \"line_usage\":
        0,\n                \"tax_taxable\": 297,\n                \"tax_taxed\":
        0,\n                \"tax_total\": 17.82,\n                \"is_base\": true,\n
        \               \"is_free\": false,\n                \"is_setup\": false,\n
        \               \"is_usage\": false,\n                \"is_recurring\": true,\n
        \               \"is_taxed\": \"1\",\n                \"custom_1\": null,\n
        \               \"custom_2\": null,\n                \"custom_3\": null,\n
        \               \"item_name\": \"Image Relay Small Plan\",\n                \"item_external_key\":
        \"basic\",\n                \"item_token\": \"i4k0u3wpt2zo\",\n                \"item_accounting_sku\":
        null,\n                \"line_item_id\": 2792,\n                \"package_line_id\":
        664\n            }\n        ]\n    }\n}"
  recorded_at: Wed, 13 May 2015 14:57:57 GMT
- request:
    method: post
    uri: https://imagerelay-staging.chargeover.com/api/v3/transaction?action=pay
    body:
      encoding: UTF-8
      string: ! '{"customer_id":35,"applied_to":[10115],"amount":100.0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n    \"code\": 200,\n    \"status\": \"OK\",\n    \"message\":
        \"\",\n    \"response\": {\n        \"id\": 174\n    }\n}"
  recorded_at: Wed, 13 May 2015 14:57:59 GMT
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/transaction/174
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n    \"code\": 200,\n    \"status\": \"OK\",\n    \"message\":
        \"\",\n    \"response\": {\n        \"transaction_id\": 174,\n        \"gateway_id\":
        202,\n        \"currency_id\": 1,\n        \"external_key\": null,\n        \"token\":
        \"0el74j8hw9c3\",\n        \"transaction_date\": \"2015-05-13\",\n        \"gateway_status\":
        1,\n        \"gateway_transid\": \"ch_6EUHm2EAYx86vP\",\n        \"gateway_msg\":
        \"\",\n        \"amount\": 100,\n        \"fee\": -3.2,\n        \"transaction_type\":
        \"pay\",\n        \"transaction_method\": \"Tokenized\",\n        \"transaction_detail\":
        \"cus_1CoGUjtUMyLIDR\",\n        \"transaction_datetime\": \"2015-05-13 09:57:59\",\n
        \       \"transaction_ipaddr\": \"70.88.244.230\",\n        \"void_datetime\":
        null,\n        \"transaction_type_name\": \"Payment\",\n        \"currency_symbol\":
        \"$\",\n        \"currency_iso4217\": \"USD\",\n        \"customer_id\": 35,\n
        \       \"applied_to\": [\n            {\n                \"invoice_id\":
        10115,\n                \"applied\": 100\n            }\n        ]\n    }\n}"
  recorded_at: Wed, 13 May 2015 14:57:59 GMT
[...]
