---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/package?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":[\n
        \   {\n      \"terms_id\":3,\n      \"currency_id\":1,\n      \"external_key\":null,\n
        \     \"token\":\"aqpgj7wosu2f\",\n      \"nickname\":\"\",\n      \"paymethod\":\"inv\",\n
        \     \"paycycle\":\"mon\",\n      \"bill_addr1\":null,\n      \"bill_addr2\":null,\n
        \     \"bill_addr3\":null,\n      \"bill_city\":null,\n      \"bill_state\":null,\n
        \     \"bill_postcode\":null,\n      \"bill_country\":null,\n      \"bill_notes\":null,\n
        \     \"ship_addr1\":null,\n      \"ship_addr2\":null,\n      \"ship_addr3\":null,\n
        \     \"ship_city\":null,\n      \"ship_state\":null,\n      \"ship_postcode\":null,\n
        \     \"ship_country\":null,\n      \"ship_notes\":null,\n      \"creditcard_id\":null,\n
        \     \"ach_id\":null,\n      \"tokenized_id\":null,\n      \"custom_1\":null,\n
        \     \"custom_2\":null,\n      \"custom_3\":null,\n      \"write_datetime\":\"2015-03-19
        11:52:12\",\n      \"mod_datetime\":\"2015-03-19 11:52:12\",\n      \"suspendfrom_datetime\":null,\n
        \     \"suspendto_datetime\":null,\n      \"cancel_datetime\":\"2015-03-24
        15:02:26\",\n      \"holduntil_datetime\":null,\n      \"currency_symbol\":\"$\",\n
        \     \"currency_iso4217\":\"USD\",\n      \"amount_collected\":0,\n      \"amount_invoiced\":0,\n
        \     \"amount_due\":0,\n      \"next_invoice_datetime\":\"\",\n      \"package_id\":554,\n
        \     \"customer_id\":1,\n      \"package_status_id\":5,\n      \"package_status_name\":\"Canceled
        manually\",\n      \"package_status_str\":\"canceled-manual\",\n      \"package_status_state\":\"c\"\n
        \   },\n    {\n      \"terms_id\":2,\n      \"currency_id\":1,\n      \"external_key\":null,\n
        \     \"token\":\"38n5jqdv6ifu\",\n      \"nickname\":\"\",\n      \"paymethod\":\"inv\",\n
        \     \"paycycle\":\"mon\",\n      \"bill_addr1\":null,\n      \"bill_addr2\":null,\n
        \     \"bill_addr3\":null,\n      \"bill_city\":null,\n      \"bill_state\":null,\n
        \     \"bill_postcode\":null,\n      \"bill_country\":null,\n      \"bill_notes\":null,\n
     [...]
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/package?limit=100&offset=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":[\n
        \   \n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 17:53:22 GMT
recorded_with: VCR 2.9.3
