---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/transaction?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":[\n
        \   {\n      \"transaction_id\":65,\n      \"gateway_id\":201,\n      \"currency_id\":1,\n
        \     \"token\":\"1mxjouz3irvp\",\n      \"transaction_date\":\"2015-03-20\",\n
        \     \"gateway_status\":1,\n      \"gateway_transid\":\"*TEST CC* Fri, 20
        Mar 2015 14:09:52 -0500\",\n      \"gateway_msg\":\"\",\n      \"amount\":99,\n
        \     \"fee\":-2.97,\n      \"transaction_type\":\"pay\",\n      \"transaction_method\":\"Visa\",\n
        \     \"transaction_detail\":\"x4242\",\n      \"transaction_datetime\":\"2015-03-20
        14:09:52\",\n      \"void_datetime\":null,\n      \"transaction_type_name\":\"Payment\",\n
        \     \"currency_symbol\":\"$\",\n      \"currency_iso4217\":\"USD\",\n      \"customer_id\":6\n
        \   },\n    {\n      \"transaction_id\":66,\n      \"gateway_id\":201,\n      \"currency_id\":1,\n
        \     \"token\":\"s3kmx5g6l8rp\",\n      \"transaction_date\":\"2015-03-20\",\n
        \     \"gateway_status\":1,\n      \"gateway_transid\":\"*TEST CC* Fri, 20
        Mar 2015 14:29:22 -0500\",\n      \"gateway_msg\":\"\",\n      \"amount\":99,\n
        \     \"fee\":-2.97,\n      \"transaction_type\":\"pay\",\n      \"transaction_method\":\"Visa\",\n
        \     \"transa[...]
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/transaction?limit=100&offset=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":[\n
        \   \n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:53:22 GMT
recorded_with: VCR 2.9.3
