---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/package/571
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"terms_id\":2,\n    \"currency_id\":1,\n    \"external_key\":null,\n
        \   \"token\":\"zwh4lkxi0ce3\",\n    \"nickname\":\"\",\n    \"paymethod\":\"inv\",\n
        \   \"paycycle\":\"qtr\",\n    \"bill_addr1\":null,\n    \"bill_addr2\":null,\n
        \   \"bill_addr3\":null,\n    \"bill_city\":null,\n    \"bill_state\":null,\n
        \   \"bill_postcode\":null,\n    \"bill_country\":null,\n    \"bill_notes\":null,\n
        \   \"ship_addr1\":null,\n    \"ship_addr2\":null,\n    \"ship_addr3\":null,\n
        \   \"ship_city\":null,\n    \"ship_state\":null,\n    \"ship_postcode\":null,\n
        \   \"ship_country\":null,\n    \"ship_notes\":null,\n    \"creditcard_id\":null,\n
        \   \"ach_id\":null,\n    \"tokenized_id\":null,\n    \"custom_1\":\"123\",\n
        \   \"custom_2\":null,\n    \"custom_3\":null,\n    \"write_datetime\":\"2015-03-24
        07:41:02\",\n    \"mod_datetime\":\"2015-03-24 07:41:02\",\n    \"suspendfrom_datetime\":null,\n
        \   \"suspendto_datetime\":null,\n    \"cancel_datetime\":\"2015-03-24 14:52:40\",\n
        \   \"holduntil_datetime\":null,\n    \"currency_symbol\":\"$\",\n    \"currency_iso4217\":\"USD\",\n
        \   \"amount_collected\":0,\n    \"amount_invoiced\":0,\n    \"amount_due\":0,\n
        \   \"next_invoice_datetime\":\"\",\n    \"package_id\":571,\n    \"customer_id\":16,\n
        \   \"package_status_id\":5,\n    \"package_status_name\":\"Canceled manually\",\n
        \   \"package_status_str\":\"canceled-manual\",\n    \"package_status_state\":\"c\",\n
        \   \"line_items\":[\n      {\n        \"item_id\":5,\n        \"tierset_id\":17,\n
        \       \"external_key\":null,\n        \"nickname\":\"\",\n        \"descrip\":\"for
        {{ \\\"now\\\"|date(\\\"m\\/d\\/Y\\\") }} to {{ \\\"now\\\"|date_modify(\\\"+3
        month\\\")|date(\\\"m\\/d\\/Y\\\") }}\",\n        \"trial_days\":0,\n        \"trial_units\":0,\n
        \       \"custom_1\":null,\n        \"custom_2\":null,\n        \"custom_3\":null,\n
        \       \"subscribe_datetime\":\"2015-03-24 07:41:02\",\n        \"cancel_datetime\":null,\n
        \       \"expire_datetime\":null,\n        \"expire_recurs\":null,\n        \"license\":\"\",\n
        \       \"item_name\":\"Image Relay Enterprise Plan\",\n        \"item_external_key\":\"super\",\n
        \       \"item_accounting_sku\":null,\n        \"item_units\":null,\n        \"line_item_id\":581,\n
        \       \"tierset\":{\n          \"tierset_id\":17,\n          \"setup\":0,\n
        \         \"base\":4500,\n          \"percent\":\"0.000000\",\n          \"paycycle\":\"qtr\",\n
        \         \"pricemodel\":\"fla\",\n          \"write_datetime\":\"2015-03-24
        07:23:38\",\n          \"mod_datetime\":\"2015-03-24 07:23:38\",\n          \"setup_formatted\":\"$
        0.00\",\n          \"base_formatted\":\"$ 4500.00\",\n          \"percent_formatted\":\"0
        %\",\n          \"pricemodel_desc\":\"Flat Pricing (e.g. $X dollars per month)\",\n
        \         \"tiers\":[\n            \n          ]\n        }\n      }\n    ]\n
        \ }\n}"
  recorded_at: Wed, 25 Mar 2015 18:15:50 GMT
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/invoice?order=invoice_date:DESClimit=1?offset=0&where=package_id:EQUALS:571
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":[\n
        \   {\n      \"invoice_id\":10016,\n      \"currency_id\":1,\n      \"terms_id\":2,\n
        \     \"token\":\"6td9y50gj2xp\",\n      \"refnumber\":\"10016\",\n      \"bill_addr1\":null,\n
        \     \"bill_addr2\":null,\n      \"bill_addr3\":null,\n      \"bill_city\":null,\n
        \     \"bill_state\":null,\n      \"bill_postcode\":null,\n      \"bill_country\":null,\n
        \     \"bill_notes\":null,\n      \"ship_addr1\":null,\n      \"ship_addr2\":null,\n
        \     \"ship_addr3\":null,\n      \"ship_city\":null,\n      \"ship_state\":null,\n
        \     \"ship_postcode\":null,\n      \"ship_country\":null,\n      \"ship_notes\":null,\n
        \     \"custom_1\":null,\n      \"custom_2\":null,\n      \"custom_3\":null,\n
        \     \"write_datetime\":\"2015-03-24 07:41:06\",\n      \"void_datetime\":\"2015-03-24
        14:57:52\",\n      \"currency_symbol\":\"$\",\n      \"currency_iso4217\":\"USD\",\n
        \     \"invoice_status_name\":\"Void\",\n      \"invoice_status_str\":\"closed-void\",\n
        \     \"invoice_status_state\":\"c\",\n      \"total\":4500,\n      \"credits\":0,\n
        \     \"payments\":0,\n      \"sum_base\":4500,\n      \"sum_usage\":0,\n
        \     \"sum_onetime\":0,\n      \"is_paid\":true,\n      \"balance\":0,\n
        \     \"is_void\":true,\n      \"due_date\":\"2015-04-23\",\n      \"terms_name\":\"Net
        30\",\n      \"terms_days\":30,\n      \"days_overdue\":0,\n      \"is_overdue\":false,\n
        \     \"date\":\"2015-03-24\",\n      \"delay_datetime\":null,\n      \"bill_block\":\"\",\n
        \     \"ship_block\":\"\",\n      \"url_permalink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/view\\/6td9y50gj2xp\",\n
        \     \"url_paylink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/trans\\/pay\\/6td9y50gj2xp\",\n
        \     \"url_pdflink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/pdf\\/6td9y50gj2xp\",\n
        \     \"package_id\":571,\n      \"customer_id\":16\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 18:15:51 GMT
recorded_with: VCR 2.9.3
