---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/invoice?limit=100&offset=0&order=invoice_id:ASC&where=invoice_status_str:EQUALS:open-overdue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n    \"code\": 200,\n    \"status\": \"OK\",\n    \"message\":
        \"\",\n    \"response\": [\n        {\n            \"invoice_id\": 10062,\n
        \           \"currency_id\": 1,\n            \"terms_id\": 2,\n            \"token\":
        \"mqy7fwb5pnkt\",\n            \"refnumber\": \"10062\",\n            \"cycle_this_date\":
        null,\n            \"bill_addr1\": \"\",\n            \"bill_addr2\": \"\",\n
        \           \"bill_addr3\": \"\",\n            \"bill_city\": \"\",\n            \"bill_state\":
        \"\",\n            \"bill_postcode\": \"\",\n            \"bill_country\":
        \"\",\n            \"bill_notes\": null,\n            \"ship_addr1\": null,\n
        \           \"ship_addr2\": null,\n            \"ship_addr3\": null,\n            \"ship_city\":
        null,\n            \"ship_state\": null,\n            \"ship_postcode\": null,\n
        \           \"ship_country\": null,\n            \"ship_notes\": null,\n            \"custom_1\":
        null,\n            \"custom_2\": null,\n            \"custom_3\": null,\n
        \           \"write_datetime\": \"2015-03-31 09:22:38\",\n            \"void_datetime\":
        null,\n            \"currency_symbol\": \"$\",\n            \"currency_iso4217\":
        \"USD\",\n            \"invoice_status_name\": \"Overdue\",\n            \"invoice_status_str\":
        \"open-overdue\",\n            \"invoice_status_state\": \"o\",\n            \"subtotal\":
        1500,\n            \"total\": 1500,\n            \"taxes\": 0,\n            \"credits\":
        0,\n            \"payments\": 0,\n            \"applied\": 0,\n            \"sum_base\":
        1500,\n            \"sum_usage\": 0,\n            \"sum_onetime\": 0,\n            \"is_paid\":
        false,\n            \"balance\": 1500,\n            \"is_void\": false,\n
        \           \"due_date\": \"2015-01-31\",\n            \"terms_name\": \"Net
        30\",\n            \"terms_days\": 30,\n            \"days_overdue\": 101,\n
        \           \"is_overdue\": true,\n            \"date\": \"2015-01-01\",\n
        \           \"delay_datetime\": null,\n            \"bill_block\": \"\",\n
        \           \"ship_block\": \"\",\n            \"url_permalink\": \"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/view\\/mqy7fwb5pnkt\",\n
        \           \"url_paylink\": \"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/trans\\/pay\\/mqy7fwb5pnkt\",\n
        \           \"url_pdflink\": \"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/pdf\\/mqy7fwb5pnkt\",\n
        \           \"package_id\": 624,\n            \"customer_id\": 34\n        },\n
        \       {\n            \"invoice_id\": 10063,\n            \"currency_id\":
        1,\n            \"terms_id\": 2,\n            \"token\": \"ijsd3opr2q1n\",\n
        \           \"refnumber\": \"10063\",\n            \"cycle_this_date\": null,\n
        \           \"bill_addr1\": null,\n            \"bill_addr2\": null,\n            \"bill_addr3\":
        null,\n            \"bill_city\": null,\n            \"bill_state\": null,\n
        \           \"bill_postcod[...]
