---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/package/566
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"terms_id\":2,\n    \"currency_id\":1,\n    \"external_key\":null,\n
        \   \"token\":\"i60ruk3tse52\",\n    \"nickname\":\"\",\n    \"paymethod\":\"crd\",\n
        \   \"paycycle\":\"yrl\",\n    \"bill_addr1\":null,\n    \"bill_addr2\":null,\n
        \   \"bill_addr3\":null,\n    \"bill_city\":null,\n    \"bill_state\":null,\n
        \   \"bill_postcode\":null,\n    \"bill_country\":null,\n    \"bill_notes\":null,\n
        \   \"ship_addr1\":null,\n    \"ship_addr2\":null,\n    \"ship_addr3\":null,\n
        \   \"ship_city\":null,\n    \"ship_state\":null,\n    \"ship_postcode\":null,\n
        \   \"ship_country\":null,\n    \"ship_notes\":null,\n    \"creditcard_id\":42,\n
        \   \"ach_id\":null,\n    \"tokenized_id\":null,\n    \"custom_1\":null,\n
        \   \"custom_2\":null,\n    \"custom_3\":null,\n    \"write_datetime\":\"2015-03-23
        09:16:55\",\n    \"mod_datetime\":\"2015-03-23 09:16:55\",\n    \"suspendfrom_datetime\":null,\n
        \   \"suspendto_datetime\":null,\n    \"cancel_datetime\":null,\n    \"holduntil_datetime\":null,\n
        \   \"currency_symbol\":\"$\",\n    \"currency_iso4217\":\"USD\",\n    \"amount_collected\":1188,\n
        \   \"amount_invoiced\":1188,\n    \"amount_due\":0,\n    \"next_invoice_datetime\":\"2016-03-22
        06:00:01\",\n    \"package_id\":566,\n    \"customer_id\":11,\n    \"package_status_id\":2,\n
        \   \"package_status_name\":\"Current\",\n    \"package_status_str\":\"active-current\",\n
        \   \"package_status_state\":\"a\",\n    \"line_items\":[\n      {\n        \"item_id\":4,\n
        \       \"tierset_id\":15,\n        \"external_key\":null,\n        \"nickname\":\"\",\n
        \       \"descrip\":\"for {{ \\\"now\\\"|date(\\\"m\\/d\\/Y\\\") }} to {{
        \\\"now\\\"|date_modify(\\\"+1 month\\\")|date(\\\"m\\/d\\/Y\\\") }}\",\n
        \       \"trial_days\":0,\n        \"trial_units\":0,\n        \"custom_1\":null,\n
        \       \"custom_2\":null,\n        \"custom_3\":null,\n        \"subscribe_datetime\":\"2015-03-23
        09:16:55\",\n        \"cancel_datetime\":null,\n        \"expire_datetime\":null,\n
        \       \"expire_recurs\":null,\n        \"license\":\"\",\n        \"item_name\":\"Image
        Relay Small Plan\",\n        \"item_external_key\":\"basic\",\n        \"item_accounting_sku\":null,\n
        \       \"item_units\":null,\n        \"line_item_id\":566,\n        \"tierset\":{\n
        \         \"tierset_id\":15,\n          \"setup\":0,\n          \"base\":99,\n
        \         \"percent\":\"0.000000\",\n          \"paycycle\":\"mon\",\n          \"pricemodel\":\"fla\",\n
        \         \"write_datetime\":\"2015-03-20 14:34:28\",\n          \"mod_datetime\":\"2015-03-20
        14:34:28\",\n          \"setup_formatted\":\"$ 0.00\",\n          \"base_formatted\":\"$
        99.00\",\n          \"percent_formatted\":\"0 %\",\n          \"pricemodel_desc\":\"Flat
        Pricing (e.g. $X dollars per month)\",\n          \"tiers\":[\n            \n
        \         ]\n        }\n      }\n    ]\n  }\n}"
  recorded_at: Mon, 23 Mar 2015 14:48:13 GMT
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/creditcard/42
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"creditcard_id\":42,\n    \"external_key\":null,\n    \"type\":\"visa\",\n
        \   \"token\":\"2maslo3twkj1\",\n    \"expdate\":\"2027-01-01\",\n    \"write_datetime\":\"2015-03-23
        09:16:55\",\n    \"write_ipaddr\":\"70.88.244.230\",\n    \"mask_number\":\"xxxx-xxxx-xxxx-4242\",\n
        \   \"name\":\"Buffy Miller\",\n    \"expdate_month\":\"1\",\n    \"expdate_year\":\"2027\",\n
        \   \"expdate_formatted\":\"Jan 2027\",\n    \"type_name\":\"Visa\",\n    \"customer_id\":11\n
        \ }\n}"
  recorded_at: Mon, 23 Mar 2015 14:48:14 GMT
recorded_with: VCR 2.9.3
