---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/transaction/145
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Chargeover-Sandbox:
      - '0'
      X-Chargeover-Env:
      - ! '?'
      X-Chargeover-Account:
      - be28f27091ae27759f6e32f79616aa11
      X-Chargeover-Admin:
      - '0'
      X-Chargeover-User:
      - '0'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"transaction_id\":145,\n    \"gateway_id\":202,\n    \"currency_id\":1,\n
        \   \"external_key\":null,\n    \"token\":\"rxkv3jg85co9\",\n    \"transaction_date\":\"2015-05-02\",\n
        \   \"gateway_status\":1,\n    \"gateway_transid\":\"ch_6AKJG0lVR0z18B\",\n
        \   \"gateway_msg\":\"\",\n    \"amount\":104.94,\n    \"fee\":-3.34,\n    \"transaction_type\":\"pay\",\n
        \   \"transaction_method\":\"Visa\",\n    \"transaction_detail\":\"x4242\",\n
        \   \"transaction_datetime\":\"2015-05-02 07:23:34\",\n    \"transaction_ipaddr\":\"206.196.34.77\",\n
        \   \"void_datetime\":null,\n    \"transaction_type_name\":\"Payment\",\n
        \   \"currency_symbol\":\"$\",\n    \"currency_iso4217\":\"USD\",\n    \"customer_id\":38,\n
        \   \"applied_to\":[\n      {\n        \"invoice_id\":10105,\n        \"applied\":104.94\n
        \     }\n    ]\n  }\n}"
  recorded_at: Tue, 05 May 2015 18:08:11 GMT
- request:
    method: post
    uri: https://imagerelay-staging.chargeover.com/api/v3/transaction/145?action=refund
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Chargeover-Sandbox:
      - '0'
      X-Chargeover-Env:
      - ! '?'
      X-Chargeover-Account:
      - be28f27091ae27759f6e32f79616aa11
      X-Chargeover-Admin:
      - '0'
      X-Chargeover-User:
      - '0'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"id\":\"155\"\n  }\n}"
  recorded_at: Tue, 05 May 2015 18:08:13 GMT
[...]
