---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/transaction/131
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Chargeover-Sandbox:
      - '0'
      X-Chargeover-Env:
      - ! '?'
      X-Chargeover-Account:
      - be28f27091ae27759f6e32f79616aa11
      X-Chargeover-Admin:
      - '0'
      X-Chargeover-User:
      - '0'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"transaction_id\":131,\n    \"gateway_id\":202,\n    \"currency_id\":1,\n
        \   \"external_key\":null,\n    \"token\":\"k8lp4ynu6qxf\",\n    \"transaction_date\":\"2015-04-16\",\n
        \   \"gateway_status\":1,\n    \"gateway_transid\":\"ch_64KiLIepjiKFAw\",\n
        \   \"gateway_msg\":\"\",\n    \"amount\":99,\n    \"fee\":-3.17,\n    \"transaction_type\":\"pay\",\n
        \   \"transaction_method\":\"Visa\",\n    \"transaction_detail\":\"x4242\",\n
        \   \"transaction_datetime\":\"2015-04-16 07:24:38\",\n    \"transaction_ipaddr\":\"70.88.244.230\",\n
        \   \"void_datetime\":null,\n    \"transaction_type_name\":\"Payment\",\n
        \   \"currency_symbol\":\"$\",\n    \"currency_iso4217\":\"USD\",\n    \"customer_id\":58,\n
        \   \"applied_to\":[\n      {\n        \"invoice_id\":10090,\n        \"applied\":99\n
        \     }\n    ]\n  }\n}"
  recorded_at: Tue, 05 May 2015 18:33:15 GMT
- request:
    method: post
    uri: https://imagerelay-staging.chargeover.com/api/v3/transaction/131?action=refund
    body:
      encoding: UTF-8
      string: ! '{"amount":10.0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Chargeover-Sandbox:
      - '0'
      X-Chargeover-Env:
      - ! '?'
      X-Chargeover-Account:
      - be28f27091ae27759f6e32f79616aa11
      X-Chargeover-Admin:
      - '0'
      X-Chargeover-User:
      - '0'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"id\":\"158\"\n  }\n}"
  recorded_at: Tue, 05 May 2015 18:33:17 GMT
[...]
