---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/package/592
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"terms_id\":2,\n    \"currency_id\":1,\n    \"external_key\":null,\n
        \   \"token\":\"srnb3zpq8h9t\",\n    \"nickname\":\"\",\n    \"paymethod\":\"inv\",\n
        \   \"paycycle\":\"qtr\",\n    \"bill_addr1\":null,\n    \"bill_addr2\":null,\n
        \   \"bill_addr3\":null,\n    \"bill_city\":null,\n    \"bill_state\":null,\n
        \   \"bill_postcode\":null,\n    \"bill_country\":null,\n    \"bill_notes\":null,\n
        \   \"ship_addr1\":null,\n    \"ship_addr2\":null,\n    \"ship_addr3\":null,\n
        \   \"ship_city\":null,\n    \"ship_state\":null,\n    \"ship_postcode\":null,\n
        \   \"ship_country\":null,\n    \"ship_notes\":null,\n    \"creditcard_id\":null,\n
        \   \"ach_id\":null,\n    \"tokenized_id\":null,\n    \"custom_1\":\"\",\n
        \   \"custom_2\":null,\n    \"custom_3\":null,\n    \"write_datetime\":\"2015-03-25
        15:09:31\",\n    \"mod_datetime\":\"2015-03-26 12:14:11\",\n    \"suspendfrom_datetime\":null,\n
        \   \"suspendto_datetime\":null,\n    \"cancel_datetime\":null,\n    \"holduntil_datetime\":null,\n
        \   \"currency_symbol\":\"$\",\n    \"currency_iso4217\":\"USD\",\n    \"amount_collected\":99,\n
        \   \"amount_invoiced\":1500,\n    \"amount_due\":1401,\n    \"next_invoice_datetime\":\"2015-06-25
        07:27:10\",\n    \"package_id\":592,\n    \"customer_id\":27,\n    \"package_status_id\":2,\n
        \   \"package_status_name\":\"Current\",\n    \"package_status_str\":\"active-current\",\n
        \   \"package_status_state\":\"a\",\n    \"line_items\":[\n      {\n        \"item_id\":3,\n
        \       \"tierset_id\":14,\n        \"external_key\":null,\n        \"nickname\":\"\",\n
        \       \"descrip\":\"for {{ \\\"now\\\"|date(\\\"m\\/d\\/Y\\\") }} to {{
        \\\"now\\\"|date_modify(\\\"+1 month\\\")|date(\\\"m\\/d\\/Y\\\") }}\",\n
        \       \"trial_days\":0,\n        \"trial_units\":0,\n        \"custom_1\":null,\n
        \       \"custom_2\":null,\n        \"custom_3\":null,\n        \"subscribe_datetime\":\"2015-03-25
        15:09:31\",\n        \"cancel_datetime\":null,\n        \"expire_datetime\":null,\n
        \       \"expire_recurs\":null,\n        \"license\":\"\",\n        \"item_name\":\"Image
        Relay Big Plan\",\n        \"item_external_key\":\"enterprise\",\n        \"item_accounting_sku\":null,\n
        \       \"item_token\":\"4xjplvwgunh2\",\n        \"item_units\":null,\n        \"line_item_id\":605,\n
        \       \"tierset\":{\n          \"tierset_id\":14,\n          \"setup\":0,\n
        \         \"base\":500,\n          \"percent\":\"0.000000\",\n          \"paycycle\":\"mon\",\n
        \         \"pricemodel\":\"fla\",\n          \"write_datetime\":\"2015-03-20
        12:46:18\",\n          \"mod_datetime\":\"2015-03-20 12:46:18\",\n          \"setup_formatted\":\"$
        0.00\",\n          \"base_formatted\":\"$ 500.00\",\n          \"percent_formatted\":\"0
        %\",\n          \"pricemodel_desc\":\"Flat Pricing (e.g. $X dollars per month)\",\n
        \         \"tiers\":[\n            \n          ]\n        }\n      },\n      {\n
        \       \"item_id\":7,\n        \"tierset_id\":29,\n        \"external_key\":null,\n
        \       \"nickname\":\"\",\n        \"descrip\":null,\n        \"trial_days\":0,\n
        \       \"trial_units\":0,\n        \"custom_1\":null,\n        \"custom_2\":null,\n
        \       \"custom_3\":null,\n        \"subscribe_datetime\":\"2015-03-26 12:14:11\",\n
        \       \"cancel_datetime\":null,\n        \"expire_datetime[...]
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/item/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"item_id\":3,\n    \"item_type\":\"service\",\n    \"tierset_id\":14,\n
        \   \"name\":\"Image Relay Big Plan\",\n    \"description\":\"for {{ \\\"now\\\"|date(\\\"m\\/d\\/Y\\\")
        }} to {{ \\\"now\\\"|date_modify(\\\"+1 month\\\")|date(\\\"m\\/d\\/Y\\\")
        }}\",\n    \"units\":null,\n    \"accounting_sku\":null,\n    \"external_key\":\"enterprise\",\n
        \   \"token\":\"4xjplvwgunh2\",\n    \"custom_1\":null,\n    \"custom_2\":null,\n
        \   \"custom_3\":null,\n    \"write_datetime\":\"2015-03-17 13:37:39\",\n
        \   \"mod_datetime\":\"2015-03-20 12:46:18\",\n    \"units_plural\":\"\",\n
        \   \"service_data\":{\n      \"trial_days\":0,\n      \"trial_units\":0,\n
        \     \"is_usage\":false\n    },\n    \"tiersets\":[\n      {\n        \"tierset_id\":14,\n
        \       \"setup\":0,\n        \"base\":500,\n        \"percent\":\"0.000000\",\n
        \       \"paycycle\":\"mon\",\n        \"pricemodel\":\"fla\",\n        \"write_datetime\":\"2015-03-20
        12:46:18\",\n        \"mod_datetime\":\"2015-03-20 12:46:18\",\n        \"setup_formatted\":\"$
        0.00\",\n        \"base_formatted\":\"$ 500.00\",\n        \"percent_formatted\":\"0
        %\",\n        \"pricemodel_desc\":\"Flat Pricing (e.g. $X dollars per month)\",\n
        \       \"tiers\":[\n          \n        ]\n      }\n    ],\n    \"categories\":[\n
        \     \n    ]\n  }\n}"
  recorded_at: Thu, 26 Mar 2015 17:16:56 GMT
[...]
- request:
    method: post
    uri: https://imagerelay-staging.chargeover.com/api/v3/package/592?action=upgrade
    body:
      encoding: UTF-8
      string: ! '{"line_items":[{"line_item_id":611,"item_id":7,"tierset":{"base":"200","pricemodel":"fla","paycycle":"mon"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":true\n}"
  recorded_at: Thu, 26 Mar 2015 17:16:57 GMT
[...]
