---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/package/555
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"terms_id\":2,\n    \"currency_id\":1,\n    \"external_key\":null,\n
        \   \"token\":\"38n5jqdv6ifu\",\n    \"nickname\":\"\",\n    \"paymethod\":\"crd\",\n
        \   \"paycycle\":\"qtr\",\n    \"bill_addr1\":null,\n    \"bill_addr2\":null,\n
        \   \"bill_addr3\":null,\n    \"bill_city\":null,\n    \"bill_state\":null,\n
        \   \"bill_postcode\":null,\n    \"bill_country\":null,\n    \"bill_notes\":null,\n
        \   \"ship_addr1\":null,\n    \"ship_addr2\":null,\n    \"ship_addr3\":null,\n
        \   \"ship_city\":null,\n    \"ship_state\":null,\n    \"ship_postcode\":null,\n
        \   \"ship_country\":null,\n    \"ship_notes\":null,\n    \"creditcard_id\":49,\n
        \   \"ach_id\":null,\n    \"tokenized_id\":null,\n    \"custom_1\":\"\",\n
        \   \"custom_2\":null,\n    \"custom_3\":null,\n    \"write_datetime\":\"2015-03-19
        12:45:07\",\n    \"mod_datetime\":\"2015-03-24 09:00:50\",\n    \"suspendfrom_datetime\":null,\n
        \   \"suspendto_datetime\":null,\n    \"cancel_datetime\":null,\n    \"holduntil_datetime\":\"2015-03-24
        00:00:00\",\n    \"currency_symbol\":\"$\",\n    \"currency_iso4217\":\"USD\",\n
        \   \"amount_collected\":0,\n    \"amount_invoiced\":500,\n    \"amount_due\":500,\n
        \   \"next_invoice_datetime\":\"2015-06-18 07:27:10\",\n    \"package_id\":555,\n
        \   \"customer_id\":4,\n    \"package_status_id\":2,\n    \"package_status_name\":\"Current\",\n
        \   \"package_status_str\":\"active-current\",\n    \"package_status_state\":\"a\",\n
        \   \"line_items\":[\n      {\n        \"item_id\":5,\n        \"tierset_id\":13,\n
        \       \"external_key\":null,\n        \"nickname\":\"\",\n        \"descrip\":\"for
        {{ &quot;now&quot;|date(&quot;m\\/d\\/Y&quot;) }} to {{ &quot;now&quot;|date_modify(&quot;+1
        month&quot;)|date(&quot;m\\/d\\/Y&quot;) }}\",\n        \"trial_days\":0,\n
        \       \"trial_units\":0,\n        \"custom_1\":null,\n        \"custom_2\":null,\n
        \       \"custom_3\":null,\n        \"subscribe_datetime\":\"2015-03-23 14:22:12\",\n
        \       \"cancel_datetime\":null,\n        \"expire_datetime\":null,\n        \"expire_recurs\":null,\n
        \       \"license\":\"\",\n        \"item_name\":\"Image Relay Enterprise
        Plan\",\n        \"item_external_key\":\"super\",\n        \"item_accounting_sku\":null,\n
        \       \"item_units\":null,\n        \"line_item_id\":579,\n        \"tierset\":{\n
        \         \"tierset_id\":13,\n          \"setup\":0,\n          \"base\":1500,\n
        \         \"percent\":\"0.000000\",\n          \"paycycle\":\"mon\",\n          \"pricemodel\":\"fla\",\n
        \         \"write_datetime\":\"2015-03-20 12:46:11\",\n          \"mod_datetime\":\"2015-03-20
        12:46:11\",\n          \"setup_formatted\":\"$ 0.00\",\n          \"base_formatted\":\"$
        1500.00\",\n          \"percent_formatted\":\"0 %\",\n          \"pricemodel_desc\":\"Flat
        Pricing (e.g. $X dollars per month)\",\n          \"tiers\":[\n            \n
        \         ]\n        }\n      },\n      {\n        \"item_id\":4,\n        \"tierset_id\":15,\n
        \       \"external_key\":null,\n        \"nickname\":\"\",\n        \"descrip\":\"for
        {{ \\\"now\\\"|date(\\\"m\\/d\\/Y\\\") }} to {{ \\\"now\\\"|date_modify(\\\"+1
        month\\\")|date(\\\"m\\/d\\/Y\\\") }}\",\n        \"trial_days\":0,\n        \"trial_units\":0,\n
        \       \"custom_1\":null,\n        \"custom_2\":null,\n        \"custom_3\":null,\[...]
- request:
    method: post
    uri: https://imagerelay-staging.chargeover.com/api/v3/package/555?action=paymethod
    body:
      encoding: UTF-8
      string: ! '{"paymethod":"inv"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":true\n}"
  recorded_at: Tue, 24 Mar 2015 19:23:36 GMT
[...]
