---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/invoice/10016
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"invoice_id\":10016,\n    \"currency_id\":1,\n    \"terms_id\":2,\n    \"token\":\"6td9y50gj2xp\",\n
        \   \"refnumber\":\"10016\",\n    \"bill_addr1\":null,\n    \"bill_addr2\":null,\n
        \   \"bill_addr3\":null,\n    \"bill_city\":null,\n    \"bill_state\":null,\n
        \   \"bill_postcode\":null,\n    \"bill_country\":null,\n    \"bill_notes\":null,\n
        \   \"ship_addr1\":null,\n    \"ship_addr2\":null,\n    \"ship_addr3\":null,\n
        \   \"ship_city\":null,\n    \"ship_state\":null,\n    \"ship_postcode\":null,\n
        \   \"ship_country\":null,\n    \"ship_notes\":null,\n    \"custom_1\":null,\n
        \   \"custom_2\":null,\n    \"custom_3\":null,\n    \"write_datetime\":\"2015-03-24
        07:41:06\",\n    \"void_datetime\":null,\n    \"currency_symbol\":\"$\",\n
        \   \"currency_iso4217\":\"USD\",\n    \"invoice_status_name\":\"Unpaid\",\n
        \   \"invoice_status_str\":\"open-unpaid\",\n    \"invoice_status_state\":\"o\",\n
        \   \"total\":4500,\n    \"credits\":0,\n    \"payments\":0,\n    \"sum_base\":4500,\n
        \   \"sum_usage\":0,\n    \"sum_onetime\":0,\n    \"is_paid\":false,\n    \"balance\":4500,\n
        \   \"is_void\":false,\n    \"due_date\":\"2015-04-23\",\n    \"terms_name\":\"Net
        30\",\n    \"terms_days\":30,\n    \"days_overdue\":0,\n    \"is_overdue\":false,\n
        \   \"date\":\"2015-03-24\",\n    \"delay_datetime\":null,\n    \"bill_block\":\"\",\n
        \   \"ship_block\":\"\",\n    \"url_permalink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/view\\/6td9y50gj2xp\",\n
        \   \"url_paylink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/trans\\/pay\\/6td9y50gj2xp\",\n
        \   \"url_pdflink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/pdf\\/6td9y50gj2xp\",\n
        \   \"package_id\":571,\n    \"customer_id\":16,\n    \"line_items\":[\n      {\n
        \       \"invoice_id\":10016,\n        \"item_id\":5,\n        \"tierset_id\":17,\n
        \       \"descrip\":\"for 03\\/24\\/2015 to 06\\/24\\/2015\",\n        \"line_rate\":4500,\n
        \       \"line_quantity\":1,\n        \"line_usage\":0,\n        \"is_base\":true,\n
        \       \"is_free\":false,\n        \"is_setup\":false,\n        \"is_usage\":false,\n
        \       \"is_recurring\":true,\n        \"is_taxed\":\"0\",\n        \"custom_1\":null,\n
        \       \"custom_2\":null,\n        \"custom_3\":null,\n        \"line_item_id\":2610,\n
        \       \"package_line_id\":581\n      }\n    ]\n  }\n}"
  recorded_at: Tue, 24 Mar 2015 19:57:55 GMT
- request:
    method: post
    uri: https://imagerelay-staging.chargeover.com/api/v3/invoice/10016?action=void
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":true\n}"
  recorded_at: Tue, 24 Mar 2015 19:57:56 GMT
[...]
